# VS Bits
Web/source/ppt.web/obj
Web/source/ppt.web/bin
*.suo

[Oo]bj


# ReSharper
_ReSharper.*
*.user
*.dotcover

# Merge artifacts
*.orig

Web/source/ppt.web/App_Data/TEMP/*
*.LDF

[Bb]in/
[Oo]bj/
!PPT.Lightswitch/PPT.Lightswitch/Bin/
PPT.Lightswitch/PPT.Lightswitch/Bin/Debug
PPT.Lightswitch/PPT.Lightswitch/Bin/Release
PPT.Lightswitch/PPT.Lightswitch/Bin/Data/Temp