# VS Bits
Web/source/ppt.web/obj
Web/source/ppt.web/bin
*.suo

[Oo]bj


# ReSharper
_ReSharper.*
*.user
*.dotcover

# Merge artifacts
*.orig

Web/source/ppt.web/App_Data/TEMP/*
*.LDF
*.mdf

[Bb]in/
[Oo]bj/
!PPT.Lightswitch/PPT.Lightswitch/Bin/Data
PPT.Lightswitch/PPT.Lightswitch/Bin/Data/Temp

PPT.Lightswitch/PPT.Lightswitch/Client/GeneratedArtifacts/Application.cs
PPT.Lightswitch/PPT.Lightswitch/Client/GeneratedArtifacts/Screen.cs
PPT.Lightswitch/PPT.Lightswitch/ClientGenerated/GeneratedArtifacts/Application.cs
PPT.Lightswitch/PPT.Lightswitch/ClientGenerated/GeneratedArtifacts/DataClientImplementation.cs
PPT.Lightswitch/PPT.Lightswitch/Common/GeneratedArtifacts/Application.cs
PPT.Lightswitch/PPT.Lightswitch/Common/GeneratedArtifacts/DataRuntime.cs
PPT.Lightswitch/PPT.Lightswitch/Common/GeneratedArtifacts/EntityG01.cs
PPT.Lightswitch/PPT.Lightswitch/Common/GeneratedArtifacts/EntityG02.cs
PPT.Lightswitch/PPT.Lightswitch/Common/GeneratedArtifacts/EntityG03.cs
PPT.Lightswitch/PPT.Lightswitch/Common/GeneratedArtifacts/EntityG04.cs
PPT.Lightswitch/PPT.Lightswitch/Common/GeneratedArtifacts/EntityG05.cs
PPT.Lightswitch/PPT.Lightswitch/Common/GeneratedArtifacts/EntityG06.cs
PPT.Lightswitch/PPT.Lightswitch/Common/GeneratedArtifacts/EntityG07.cs
PPT.Lightswitch/PPT.Lightswitch/Common/GeneratedArtifacts/EntityG08.cs
PPT.Lightswitch/PPT.Lightswitch/Common/GeneratedArtifacts/EntityG09.cs
PPT.Lightswitch/PPT.Lightswitch/Common/GeneratedArtifacts/EntityG10.cs
PPT.Lightswitch/PPT.Lightswitch/Common/GeneratedArtifacts/EntityG11.cs
PPT.Lightswitch/PPT.Lightswitch/Common/GeneratedArtifacts/EntityG12.cs
PPT.Lightswitch/PPT.Lightswitch/Common/GeneratedArtifacts/EntityG13.cs
PPT.Lightswitch/PPT.Lightswitch/Common/GeneratedArtifacts/EntityG14.cs
PPT.Lightswitch/PPT.Lightswitch/Common/GeneratedArtifacts/EntityG15.cs
PPT.Lightswitch/PPT.Lightswitch/Common/GeneratedArtifacts/EntityG16.cs
PPT.Lightswitch/PPT.Lightswitch/Common/GeneratedArtifacts/EntityG17.cs
PPT.Lightswitch/PPT.Lightswitch/Common/GeneratedArtifacts/EntityG18.cs
PPT.Lightswitch/PPT.Lightswitch/Common/GeneratedArtifacts/EntityG19.cs
PPT.Lightswitch/PPT.Lightswitch/Common/GeneratedArtifacts/EntityG20.cs
PPT.Lightswitch/PPT.Lightswitch/Common/GeneratedArtifacts/Permissions.cs
PPT.Lightswitch/PPT.Lightswitch/Server/GeneratedArtifacts/Application.cs
PPT.Lightswitch/PPT.Lightswitch/Server/GeneratedArtifacts/DataService.cs
PPT.Lightswitch/PPT.Lightswitch/ServerGenerated/GeneratedArtifacts/Application.cs
PPT.Lightswitch/PPT.Lightswitch/ServerGenerated/GeneratedArtifacts/ApplicationData.cs
PPT.Lightswitch/PPT.Lightswitch/ServerGenerated/GeneratedArtifacts/ApplicationData.csdl
PPT.Lightswitch/PPT.Lightswitch/ServerGenerated/GeneratedArtifacts/ApplicationData.msl
PPT.Lightswitch/PPT.Lightswitch/ServerGenerated/GeneratedArtifacts/ApplicationData.ssdl
PPT.Lightswitch/PPT.Lightswitch/ServerGenerated/GeneratedArtifacts/DataServiceImplementation.cs
PPT.Lightswitch/PPT.Lightswitch/ServerGenerated/GeneratedArtifacts/PPT_2Data.cs
PPT.Lightswitch/PPT.Lightswitch/ServerGenerated/GeneratedArtifacts/PPT_2Data.csdl
PPT.Lightswitch/PPT.Lightswitch/ServerGenerated/GeneratedArtifacts/PPT_2Data.msl
PPT.Lightswitch/PPT.Lightswitch/ServerGenerated/GeneratedArtifacts/PPT_2Data.ssdl
PPT.Lightswitch/PPT.Lightswitch/_Pvt_Extensions/Microsoft.LightSwitch.Extensions/LsPkgLastWriteTime.txt

