# VS Bits
Web/source/ppt.web/obj
Web/source/ppt.web/bin
*.suo
[Bb]in
[Oo]bj


# ReSharper
_ReSharper.*
*.user
*.dotcover

# Merge artifacts
*.orig

Web/source/ppt.web/App_Data/TEMP/*
*.LDF

PPT.Lightswitch/PPT.Lightswitch/Bin/Debug
PPT.Lightswitch/PPT.Lightswitch/Bin/Release
PPT.Lightswitch/PPT.Lightswitch/Client/Bin
PPT.Lightswitch/PPT.Lightswitch/Client/obj
PPT.Lightswitch/PPT.Lightswitch/ClientGenerated/Bin
PPT.Lightswitch/PPT.Lightswitch/ClientGenerated/obj
PPT.Lightswitch/PPT.Lightswitch/Server/Bin
PPT.Lightswitch/PPT.Lightswitch/Server/obj
PPT.Lightswitch/PPT.Lightswitch/ServerGenerated/Bin
PPT.Lightswitch/PPT.Lightswitch/ServerGenerated/obj
